{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CarRental Dashboard{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'backend/css/dashboard.css' %}">
</head>

<body>

<div class="backend-layout">

    <!-- SIDEBAR -->
    <aside class="sidebar">
        <a href="{% url 'dashboard:home' %}" class="sidebar-brand">
            Car<span>Rental</span>
        </a>

        <nav class="sidebar-nav">
            <a href="{% url 'dashboard:home' %}" class="active">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>

            <a href="#">
                <i class="bi bi-car-front"></i>
                <span>Vehicles</span>
            </a>

            <a href="#">
                <i class="bi bi-calendar-check"></i>
                <span>Bookings</span>
            </a>

            <a href="#">
                <i class="bi bi-person-badge"></i>
                <span>Driver Requests</span>
            </a>

            <a href="#">
                <i class="bi bi-buildings"></i>
                <span>Corporate Requests</span>
            </a>

            <a href="#">
                <i class="bi bi-journal-text"></i>
                <span>Blogs</span>
            </a>

            <a href="#">
                <i class="bi bi-envelope"></i>
                <span>Contact Messages</span>
            </a>

            <a href="#">
                <i class="bi bi-gear"></i>
                <span>Settings</span>
            </a>
            <a href="{% url 'dashboard:logout' %}" class="logout-link">
                <i class="bi bi-box-arrow-left"></i>
                <span>Logoout</span>
            </a>
        </nav>
    </aside>

    <!-- MAIN -->
    <main class="backend-main">

        <header class="backend-header">
            <div>
                <button class="sidebar-toggle" id="sidebarToggle">
                    <i class="bi bi-list"></i>
                </button>
            </div>

            <div class="admin-profile">
                <div class="admin-avatar">
                    <i class="bi bi-person"></i>
                </div>

                <div>
                    <strong>{{ request.user.username }}</strong>
                    <span>Administrator</span>
                </div>
            </div>
        </header>

        <div class="backend-content">
            {% block content %}{% endblock %}
        </div>

    </main>

</div>

<script src="{% static 'backend/js/dashboard.js' %}"></script>
</body>
</html>